body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img/1332721.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
}